/* リセットCSS */
* {
	margin: 0;
	padding: 0;
}

/* 大枠 */
body {
	top: 0px;
    left: 0px;
    width: 1194px;
    height: 834px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
}

/* ヘッダー */
header {
    top: 0px;
    left: 1px;
    width: 1194px;
    height: 60px;
	
	background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.cloud-fill {
	position: absolute;
    top: 14px;
	left: 85px;
	width: 48px;
	height: 33px;
	background: transparent url('img/cloud-fill.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.box-arrow-right {
	position: absolute;
	top: 13px;
	left: 1134px;
	width: 47px;
	height: 34px;
	background: transparent url('img/box-arrow-right.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

/* 検索欄 */
.user_name_box {
	position: absolute;
	top: 11px;
	left: 678px;
	width: 159px;
	height: 37px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
}

.user_name {
	position: absolute;
	top: 22px;
	left: 695px;
	width: 63px;
	height: 16px;
	text-align: left;
	font: normal normal normal 16px/16px SF Pro Text;
	letter-spacing: -0.3px;
	color: #212529;
	opacity: 1;
}

.search_box {
	position: absolute;
	top: 11px;
	left: 847px;
	width: 152px;
	height: 37px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
}

.search_button {
	position: absolute;
	top: 6px;
	left: 1015px;
	width: 83px;
	height: 46px;
	background: #325FB4 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 31px;
	opacity: 1;
}

.search_button_text {
	position: absolute;
	top: 18px;
	left: 1034px;
	width: 46px;
	height: 23px;
	text-align: center;
	font: normal normal normal 23px/24px SF Pro Text;
	letter-spacing: -0.44px;
	color: #FFFFFF;
	opacity: 1;
}
/* メニュー */
.menu {
	position: absolute;
	top: 0px;
	left: 1px;
	width: 68px;
	height: 834px;
	background: #325FB4 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
}

.select {
	position: absolute;
	top: 161px;
	left: 0px;
	width: 68px;
	height: 58px;
	background: #1513135A 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
}

.list {
	position: absolute;
	top: 19px;
	left: 18px;
	width: 34px;
	height: 28px;
	background: transparent url('img/customer_information_portal/list.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.house-fill {
	position: absolute;
	top: 101px;
	left: 15px;
	width: 36px;
	height: 39px;
	background: transparent url('img/customer_information_portal/house-fill.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.table {
	position: absolute;
	top: 168px;
	left: 14px;
	width: 43px;
	height: 43px;
	background: transparent url('img/customer_information_portal/table.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.table-tr {
	position: absolute;
	top: 168px;
	left: 14px;
	width: 43px;
	height: 43px;
	background: #1513135A transparent url('img/customer_information_portal/table.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.layout-split {
	position: absolute;
	top: 235px;
	left: 14px;
	width: 45px;
	height: 40px;
	background: transparent url('img/customer_information_portal/layout-split.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.list-task {
	position: absolute;
	top: 303px;
	left: 12px;
	width: 45px;
	height: 34px;
	background: transparent url('img/customer_information_portal/list-task.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.list-check {
	position: absolute;
	top: 364px;
	left: 8px;
	width: 53px;
	height: 40px;
	background: transparent url('img/customer_information_portal/list-check.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.people-fill {
	position: absolute;
	top: 433px;
	left: 10px;
	width: 54px;
	height: 41px;
	background: transparent url('img/customer_information_portal/people-fill.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

/* 案件一覧 */
.activity_record_new_record {
	position: absolute;
	top: 109px;
	left: 123px;
	width: 203px;
	height: 26px;
	text-align: left;
	font: normal normal bold 26px/25px SF Pro Text;
	letter-spacing: -0.78px;
	color: #212529;
	opacity: 1;
}

.record_body {
	position: absolute;
	top: 156px;
	left: 123px;
	width: 1023px;
	height: 484px;
	background: #F8F9FB 0% 0% no-repeat padding-box;
	border: 1px solid #C6C8CA;
	border-radius: 4px;
	opacity: 1;
}

.name {
	position: absolute;
	top: 176px;
	left: 151px;
	width: 39px;
	height: 20px;
	text-align: left;
	font: normal normal bold 20px/25px SF Pro Text;
	letter-spacing: -0.6px;
	color: #212529;
	opacity: 1;
}

.name_box {
	position: absolute;
	top: 171px;
	left: 216px;
	width: 262px;
	height: 31px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #DEE2E6;
	border-radius: 3px;
	opacity: 1;
}

.subject {
	position: absolute;
	top: 227px;
	left: 151px;
	width: 39px;
	height: 20px;
	text-align: left;
	font: normal normal bold 20px/25px SF Pro Text;
	letter-spacing: -0.6px;
	color: #212529;
	opacity: 1;
}

.subject_box {
	position: absolute;
	top: 222px;
	left: 216px;
	width: 262px;
	height: 31px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #DEE2E6;
	border-radius: 3px;
	opacity: 1;
}

.start {
	position: absolute;
	top: 278px;
	left: 151px;
	width: 39px;
	height: 20px;	
	text-align: left;
	font: normal normal bold 20px/25px SF Pro Text;
	letter-spacing: -0.6px;
	color: #212529;
	opacity: 1;
}

.start_box {
	position: absolute;
	top: 273px;
	left: 216px;
	width: 262px;
	height: 31px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #DEE2E6;
	border-radius: 3px;
	opacity: 1;
}

.end {
	position: absolute;
	top: 329px;
	left: 151px;
	width: 39px;
	height: 20px;	
	text-align: left;
	font: normal normal bold 20px/25px SF Pro Text;
	letter-spacing: -0.6px;
	color: #212529;
	opacity: 1;
}

.end_box {
	position: absolute;
	top: 324px;
	left: 216px;
	width: 262px;
	height: 31px;	
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #DEE2E6;
	border-radius: 3px;
	opacity: 1;	
}

.detail {
	position: absolute;
	top: 378px;
	left: 151px;
	width: 39px;
	height: 20px;
	text-align: left;
	font: normal normal bold 20px/25px SF Pro Text;
	letter-spacing: -0.6px;
	color: #212529;
	opacity: 1;	
}

.detail_box {
	position: absolute;
	top: 410px;
	left: 151px;
	width: 965px;
	height: 202px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #DEE2E6;
	border-radius: 3px;
	opacity: 1;
}

/*　登録ボタン */
.register_button {
	position: absolute;
	top: 663px;
	left: 979px;
	width: 167px;
	height: 46px;
	background: #325FB4 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	border-radius: 31px;
	opacity: 1;		
}

.register_text {
	position: absolute;
	top: 675px;
	left: 1040px;
	width: 46px;
	height: 23px;
	text-align: center;
	font: normal normal normal 23px/24px SF Pro Text;
	letter-spacing: -0.44px;
	color: #FFFFFF;
	opacity: 1;		
}
/* ここまで */